{# templates/home/index.html.twig #} 
{% extends 'base.html.twig' %} 
{% block title %}Liste des projets - TaskLinker{% endblock %} {% block body %}
<div id="projects-container">
    {# Boucle sur la variable 'projets' passée par le contrôleur #} {% for
    projet in projets %}
    <article class="card-project">
        {# Lien vers la fiche du projet #}
        <a href="{{ path('app_projet_fiche', { id: projet.id }) }}">
            <h2>{{ projet.titre }}</h2>
        </a>
        <div class="card-project-icons">
            {# Lien d'édition #}
            <a href="{{ path('app_projet_edit', { id: projet.id }) }}"
                ><i class="fa-solid fa-pen"></i
            ></a>

            {# Lien d'archivage/suppression (selon les spécifications, c'est
            l'archivage) #}
            <a
                href="{{ path('app_projet_archive', { id: projet.id }) }}"
                data-confirm="Êtes-vous sûr de vouloir archiver le projet '{{
                    projet.titre
                }}' ?"
            >
                {# L'icône de la corbeille peut être utilisée pour l'archivage
                dans le contexte TaskLinker #}
                <i class="fa-solid fa-trash"></i>
            </a>
        </div>
    </article>
    {% endfor %} {# Carte pour ajouter un nouveau projet #}
    <article class="card-project">
        <a href="{{ path('app_projet_add') }}">
            <i class="fa-solid fa-circle-plus add-project-icon"></i>
            <h2>Ajouter un projet</h2>
        </a>
    </article>
</div>
{% endblock %}
